<div class="container-fluid pl-0 pr-0" >
  <div class="col" style="background: #71a8c1;">
    <div class="col d-flex justify-content-center align-items-center">
    <img class="logoImg" src="../../assets/resume.png" alt="" loading="lazy" >
<h1 class="row pt-3 text-center d-flex justify-content-center pl-1" style="    font-family: lato;
    color: #ffffff; font-weight: bold;">Choose a Resume Template</h1>
    </div>

    <!-- <p class="text-end">Designed and developed by</p> -->
<h2 class="text-center" style="font-weight: bold;   font-family: lato;">Choose a professional resume template to stand out and land your dream job faster. Get started today!
</h2>
<hr class="mb-0">
</div>
<div class="row d-flex pt-3" style="background: #8283be;">
  <div class="col-lg-6 col-sm-12 p-3 text-center image-container">
    <img src="../../assets/first.png" alt="" class="col shadow imgsection"  loading="lazy">
    <button mat-raised-button color="accent" class="btn position-absolute top-50 start-50 translate-middle" (click)="onImageButtonClick1()">Choose Template</button>

  </div>

  <div class="col-lg-6 col-sm-12 p-3 text-center image-container">
    <img src="../../assets/second.png" alt="" class="col shadow imgsection"  loading="lazy">
    <button mat-raised-button color="accent" class="btn position-absolute top-50 start-50 translate-middle" (click)="onImageButtonClick2()">Choose Template</button>
  </div>
  <div class="col-lg-6 col-sm-12 p-3 text-center image-container">
    <img src="../../assets/fourth.png" alt="" class="col shadow imgsection"  loading="lazy">
    <button mat-raised-button color="accent" class="btn position-absolute top-50 start-50 translate-middle" (click)="onImageButtonClick4()">Choose Template</button>
  </div>
  <div class="col-lg-6 col-sm-12 p-3 text-center image-container">
    <img src="../../assets/third.png" alt="" class="col shadow imgsection"  loading="lazy">
    <button mat-raised-button color="accent" class="btn position-absolute top-50 start-50 translate-middle" (click)="onImageButtonClick3()">Choose Template</button>

  </div>

</div>
<div class="text-center mt-3" style="background: #306aff30;">
  <h2 class="pt-2 mb-0">Designed and developed by</h2>
  <h1 class="pb-2" style="font-weight: bold;">Pawan Kumar Sharma</h1>
</div>
</div>
