<div class="d-flex justify-content-center pt-3">
<div class="col-md-7 col-lg-7 col-sm-12">
  <div id="pdf-content" class="col"  style=" cursor: pointer;">
    <div class="text-center">
   <input type="text" class="text-center usernamei" style="border:none;font-size:23px;font-weight: bold;" [(ngModel)]="username"  name="username"/>
      <!-- <p class="text-center usernamep" style="border:none;font-size:23px;font-weight: bold;">{{username}}</p> -->
    </div>
    <div class="text-center justify-content-center d-flex pt-1 ">
      <!-- <textarea class=" col  text-center no-border mr-2 no-resize wide-textarea hide-scrollbar" style="font-weight: bold;" [(ngModel)]="address" name="address" rows="2"></textarea> -->
      <div style="font-size: 12px;" class="d-flex justify-content-center align-items-center col">
        <mat-icon (click)="addurl('linkedin')" matTooltip="Add Linkedin URL"
        style="
        color: #000000;">link</mat-icon>
      <a [href]="hyperlink" target="_blank"
    style="  text-decoration: underline;
      font-weight: bold;
      color: #000000;">linkedin</a>
      </div>
      <div class="d-flex justify-content-center align-items-center col" style="font-size: 12px;">
        <mat-icon (click)="addurl('gmail')" matTooltip="Add Email"
        style="
        color: #000000;">email</mat-icon>
      <a [href]="'mailto:' +gmail" target="_blank"
    style="  text-decoration: underline;
      font-weight: bold;
      color: #000000;">gmail</a>
      </div>
      <!-- <textarea class="col text-center no-border mr-2 no-resize hide-scrollbar"  style="font-weight: bold;" [(ngModel)]="gmail" name="gmail" rows="1"></textarea> -->
      <textarea class="col justify-content-center text-center no-border mr-2 no-resize hide-scrollbar"  style="font-weight: bold;font-size: 12px;"  [(ngModel)]="mobile" name="mobile" rows="1"></textarea>
    </div>
    <hr class="mb-0 pb-1 pt-1">
    <div>
      <h4 style="font-weight: bold; color: purple;" class="mb-0">Summary</h4>
      <textarea class="summaryText longtext no-resize hide-scrollbar no-border  mr-2 " style="width: 100%;font-size: 13px;" [(ngModel)]="summary" name="summary"  (input)="autoResize($event)" ></textarea>
    </div>
    <hr class="mb-0 pb-1">
    <div>
      <div class="d-flex justify-content-between">
      <h4 style="font-weight: bold; color: purple;" class="mb-0">Work Experience</h4>
      <!-- <button mat-icon-button  (click)="addField()"> -->
        <mat-icon (click)="addField()">add</mat-icon>
      <!-- </button> -->
    </div>

      <div *ngFor="let field of fields; let i = index">
        <input class="no-border mr-2 no-resize mb-0" style="width: 100%;font-weight: bold;font-size: 15px;" [(ngModel)]="field.company" name="company{{i}}">
        <textarea class="longtext no-border mr-2 no-resize hide-scrollbar" style="width: 100%;font-size: 13px;" [(ngModel)]="field.experience" name="experience{{i}}" (input)="autoResize($event)" rows="2" ></textarea>
      </div>
      <hr class="mb-0 pb-1">

    </div>
    <div>
      <div class="d-flex justify-content-between">

      <h4 style="font-weight: bold; color: purple;" class="mb-0">Education</h4>
      <!-- <button class="btn btn-primary" (click)="addEducation()">Add</button> -->
      <mat-icon (click)="addEducation()">add</mat-icon>
      </div>
      <div *ngFor="let field of educations; let i = index">
        <input class="no-border mr-2 no-resize" style="width: 100%;font-weight: bold;font-size: 15px;" [(ngModel)]="field.school" name="school{{i}}">
        <textarea class="longtext no-border mr-2 no-resize hide-scrollbar" style="width: 100%;font-size: 13px;" [(ngModel)]="field.des" name="des{{i}}" (input)="autoResize($event)" rows="1" ></textarea>
      </div>
      <hr class="mb-0 pb-1">
      <div class="d-flex justify-content-between">

      <h4 style="font-weight: bold; color: purple;" class="mb-0">Projects</h4>
      <!-- <button class="btn btn-primary" (click)="addEducation()">Add</button> -->
      <mat-icon (click)="addProject()">add</mat-icon>
      </div>
      <div *ngFor="let project of projects; let i = index">
        <input class="no-border mr-2 no-resize mb-0" style="width: 100%;font-weight: bold;font-size: 15px;" [(ngModel)]="project.name" name="name{{i}}">
        <textarea class="longtext no-border mr-2 no-resize hide-scrollbar" style="width: 100%;font-size: 13px;" [(ngModel)]="project.data" (input)="autoResize($event)" name="data{{i}}" rows="2" ></textarea>
      </div>
      <hr class="mb-0 pb-1">
      <div>
        <h4 style="font-weight: bold; color: purple;" class="mb-0">Skills</h4>
        <textarea class=" no-border mr-2 no-resize hide-scrollbar" style="width: 100%;font-size: 13px;" (input)="autoResize($event)" [(ngModel)]="skills" name="skills" rows="1" ></textarea>

        <hr class="mb-0 pb-1">

      </div>
      <div>
        <h4 style="font-weight: bold; color: purple;" class="mb-0">Certifications & Acchievements</h4>
        <textarea class="longtext no-border mr-2 no-resize hide-scrollbar" (input)="autoResize($event)" (ngModelChange)="updateCertifications($event)" name="certifications" style="width: 100%;" [(ngModel)]="certificationsString" name="certifications" rows="3" ></textarea>

        <hr class="mb-0 pb-1">

      </div>


    </div>
<div class="col d-flex justify-content-center pt-1">

  <button mat-raised-button color="primary" (click)="downloadPDF()">Download</button>
</div>
  </div>
</div>
</div>

